.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.postal_code {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.form {
    width: 30%;
    align-items: right;
    margin-top: 50px;
}

@media all and (max-width: 1200px) {
    .form {
        width: 50%;
    }
}

@media all and (max-width: 800px) {
    .form {
        width: 80%;
    }
}
