<div class=about>
    <div class=about-text>
        <div class=about-intro>
            <h2>À PROPOS</h2>
            <p>Ce service à été développé par Simon Kassab avec l'aide de Nadir Trapsida.</p>
            <p>Le service demeure en phase Beta pour le moment. Si vous découvrez un problème ou une anomalie, veuillez
                nous contacter à l'aide de <a href="https://www.simonkassab.com/about#contact">cette boite de
                    courriel</a>.</p>
            <p>Si vous êtes une développeuse ou un développeur intéressé(e) à contribuer à ce projet, vous pouvez nous
                contacter par <a href="https://www.simonkassab.com/about#contact">la même boite de courriel</a>.</p>
            <p>L'entiéreté du code source devrait être publié sous peu.</p>
        </div>
        <div class=important>
            <h2>IMPORTANT</h2>
            <ul>
                <li>Ce site web n'est d'aucune façon affilié à Clic-Santé.</li>
                <li>Ce site web ne permet pas de réserver un rendez-vous de vaccination.</li>
                <li>Ce site web tente de vous avertir par courriel lorsqu'un rendez-vous de vaccination qui pourrait
                    vous intéresser est disponible.</li>
                <li>Son fonctionnement n'est pas garantie. Il s'agit d'un projet développé à temps perdu qui peut briser
                    à tout moment.</li>
            </ul>
        </div>
    </div>
</div>