<div class=about>
    <div class=about-text>
        <div class=about-intro>
            <h2>À PROPOS</h2>
            <p>Ce service a été développé en mars 2021 par Simon Kassab avec l'aide de Nadir Trapsida et Jean-Christophe Normandeau.</p>
            <p>En mars 2022, le service est désactivé. La page web demeure en ligne à titre demonstratif mais 
                aucune action n'est engendrée par cette dernière.<p>
        </div>
        <div class=important>
            <h2>IMPORTANT</h2>
            <ul>
                <li>Ce site web n'est d'aucune façon affilié à Clic-Santé.</li>
                <li>Ce site web ne permet pas de réserver un rendez-vous de vaccination.</li>
                <li>Ce site web tente de vous avertir par courriel lorsqu'un rendez-vous de vaccination qui pourrait
                    vous intéresser est disponible.</li>
                <li>Son fonctionnement n'est pas garantie. Il s'agit d'un projet développé à temps perdu qui peut briser
                    à tout moment.</li>
            </ul>
        </div>
    </div>
</div>