.about{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.about-text {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.about-intro {
    font-size: 18px;
    line-height: 30px;
}

.important {
    margin-top: 40px;
    margin-bottom: 200px;
}

.important ul {
    margin-left: 20px;
    font-size: 16px;
    line-height: 30px;
}