<div class=banner>
    
    <div class=banner_shadow></div>
    <div class=title>
        <h1>Comment ça fonctionne?</h1>
    </div>

    <div style='width: 100%; display: inline-flex; justify-content: center; margin-bottom: 70px;'>
        <div class=steps>
            <a href='#create-alert'>
            <div class=step>
                <mat-icon aria-hidden="false">location_on</mat-icon>
                <h2>Entrer votre code postal</h2>
            </div></a>
            <div class=step>
                <mat-icon aria-hidden="false">business</mat-icon>
                <h2>Sélectionner les centres de vaccination de votre choix</h2>
            </div>
            <div class=step>
                <mat-icon aria-hidden="false">date_range</mat-icon>
                <h2>Fournir vos disponibilités</h2>
            </div>
            <div class=step>
                <mat-icon aria-hidden="false">alternate_email</mat-icon>
                <h2>Fournir votre adresse courriel</h2>
            </div>
            <div class=step>
                <mat-icon aria-hidden="false">notifications_active</mat-icon>
                <h2>Recevoir un courriel lorsqu'un rendez-vous est disponible</h2>
            </div>
            <div class=step>
                <mat-icon aria-hidden="false">event_busy</mat-icon>
                <h2>Visiter <a href='https://portal3.clicsante.ca/' style='color:white;'>Clic-Santé</a> pour prendre votre rendez-vous</h2>
            </div>
        </div>
    </div>
</div>