<mat-card class="card">
    <div class=date-inputs>
        <div class=date-input>
            <mat-form-field>
                <input matInput type="datetime-local">
            </mat-form-field>
        </div>
        <div class=date-input>
            <mat-form-field>
                <input matInput type="datetime-local">
            </mat-form-field>
        </div>
    </div>
    <div class=buttons>
        <button mat-icon-button color="primary" (click)='remove()'>
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</mat-card>