.card {
    width: calc(100% - 30px);
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ececec;
}

.date-inputs {
    width: 60%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.date-input{
    min-width: 200px;
    display: inline-flex;
    align-items: center;
}

.date-input div{
    min-width: 70px;
    margin-left: 40px;
}

.buttons {
    display: inline-flex;
    justify-content: flex-end;
}

mat-form-field {
    width: 200px;
}

.input-label {
    font-weight: bold;
    font-size: 18px;
}

@media all and (max-width: 720px) {
    .date-input div{
        margin-left: 10px;
    }
}