mat-horizontal-stepper {
    width: 80%;
    margin: 0 auto;
}

.first-buttons {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: flex-end;
}

.first-buttons button {
    margin-left: 40px;
    margin-right: -20px;
}

.cards-container {
    height: 800px;
    width: 100%;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
}

.add-button{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}