<mat-horizontal-stepper [linear]="isLinear" id="create-alert-stepper" #stepper>

    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Choisir vos centres de vaccination</ng-template>
            <div class=first-buttons>
                <button mat-flat-button color="primary" (click)="selectAll()">{{ selectAllLabel }}</button>
                <button mat-flat-button color="primary" matStepperNext>Prochaine étape</button>
            </div>
            <div class=cards-container>
                <div #container></div>
            </div>
        </form>
    </mat-step>
    
    <mat-step [stepControl]="secondFormGroup" label="Fournir vos disponibilités">
        <form [formGroup]="secondFormGroup">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    
    <mat-step [stepControl]="thirdFormGroup" label="Fournir votre adresse courriel">
        <form [formGroup]="thirdFormGroup">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    
    <mat-step>
        <ng-template matStepLabel>Terminé</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>

</mat-horizontal-stepper>