<div class="offline">
    <div class="french">
        **MARS 2022 - Veuillez prendre note que ce service n'est plus fonctionnel. La page web demeure en ligne à titre démonstratif seulement. 
        Les données recueillies ont été supprimées. Pour plus d'informations: alertevaccinqc@gmail.com
    </div>

    <div class="english">
        **MARCH 2022 - Please note that this service is now disabled. The web app remains online for demonstration purposes only. 
        All user data has been deleted. For more information, contact: alertevaccinqc@gmail.com
    </div>
</div>
