.offline{
    width: 100%;
    min-height: 150px;
    background-color: rgb(255, 0, 64);
}

.offline div{
    height: 40%;
    margin: auto;
    padding-top:35px;
    padding-bottom: 35px;
    width: 70%;
    font-size: large;
    color: white;
    font-weight: 500;
}